@import "reset.css";
/* путь указывается относительно файла css в
в данном случае они в одной папке */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Загрузка нужных текстовых стилей с сайта */

/* Global settigs */

* {
    box-sizing: border-box;
    text-decoration: none;
    /* глобальные характеристики контейнера, чтоб всё внутри было */
}

body {
    font-family: roboto, sans-serif;
    height: 3000px;
}

header {
    background-color: #5C6F4E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.17;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    display: block;  
    width: 265px;
}

.circle {    
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.circle:hover .hover-list {
    visibility: visible;
    opacity: 1;
}

.hover-list {    
    position: absolute;
    visibility: hidden;
    background-color: #6F7397;
    padding: 10px 0px 10px 0px;
    opacity: 0;
    transition: 1s opacity ease-out;
    top: 52px;
    right: 10px;      
}

.list-hidden:hover {
    background-color: #7B89BA;
    font-size: 20px;
}

.circle:hover .vector {
    rotate: 180deg;
}

.list-hidden {  
    padding: 16px 10px;
}
main {
    height: 1100px;
    background-image: url(../img/22.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-size:cover
}

.vector {
   margin-left: 10px;
}