.footer {
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 189px;
}

@media screen and (max-width: 1150px) {
    .footer {
        padding-top: 45px;
        padding-bottom: 45px;
    }    
}

@media screen and (max-width: 600px) {
    .footer {
        padding-top: 35px;
    }    
}

@media screen and (max-width: 450px) {
    .footer {
        padding-top: 25px;
    }    
}




.footer h2 {
    margin-bottom: 51px;
}

@media screen and (max-width: 1150px) {
    .footer h2 {
        text-align: center;
        margin-bottom: 45px;
    }   
}

@media screen and (max-width: 600px) {
    .footer h2 {
        text-align: center;
        margin-bottom: 35px;
    }   
}

@media screen and (max-width: 450px) {
    .footer h2 {
        margin-bottom: 25px;
    }   
}



.footer-nav {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) {
    .footer-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }  
}

.footer-list {    
    margin-right: 302px;
}

@media screen and (max-width: 1150px) {
    .footer-list {    
        margin-right: 250px;
    }  
}

@media screen and (max-width: 900px) {
    .footer-list {    
        margin-bottom: 50px;
        margin-right: 160px;
    }
}

@media screen and (max-width: 560px) {
    .footer-list {    
        margin-bottom: 30px;
        margin-right: 40px;
    }
}

.footer-list:last-of-type {
    margin: 0;
}

.footer-list li {
    margin-bottom: 14px;
}

.footer-list li:last-of-type {
    margin: 0;
}

.vector-top {
    position: fixed;
    bottom: 70px;
    right: 180px;
    transform: rotate(270deg);
}

@media screen and (max-width: 1150px) {
    .vector-top {
        bottom: 35px;
        right: 90px; 
    }
}
@media screen and (max-width: 600px) {
    .vector-top {
        bottom: 58px;
        right: 50px; 
    }
}

@media screen and (max-width: 450px) {
    .vector-top {
        bottom: 58px;
        right: 30px; 
    }
}