html, 
body {    
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1150px) {
    .container {
        width: 85%;
    }
}

.title-h2 {
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    color: #333333;
}

@media screen and (max-width: 990px) {
    .title-h2 {
        text-align: center;
        font-weight: 600;
    }    
}

@media screen and (max-width: 600px) {
    .title-h2 {
        text-align: center;
        font-weight: 600;
    }    
}

.title-h3 {
    font-family: 'Libre Franklin';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
}

.text-p {
    font-family: 'Libre Franklin';
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #333333;
    text-align: justify;
}


@media screen and (max-width: 990px) {
    .text-p {
        font-size: 15px;
    }    
}

@media screen and (max-width: 600px) {
    .text-p {
        font-size: 12px;
    }    
}