.hero {
    background-image: url(../img/1_hero/hero2x.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
    background-size: cover;
    padding-top: 93px;
    padding-bottom: 93px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1150px) {
    .hero {
        padding-top: 45px;
        padding-bottom: 45px;
        min-height: 90vh;
    }    
}

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 110px;
        padding-bottom: 45px;
        min-height: 70vh;
    } 
} 

@media screen and (max-width: 600px) {
    .hero {
        padding-top: 36px;
        padding-bottom: 50px;
        min-height: 50vh;
    } 
} 

@media screen and (max-width: 450px) {
    .hero {
        padding-top: 36px;
        padding-bottom: 50px;
        min-height: 40vh;
    } 
} 

/* hero */

.hero-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .hero-container {
        flex-grow: 0;
    } 
} 

/* hero-container */

.hero-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .hero-content {
        flex-grow: 0;
    } 
} 

/* hero-content */

h1 {
    font-family: 'Libre Franklin';
    font-weight: normal;
    font-size: 64px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-bottom: 26px;
}

@media screen and (max-width: 1150px) {
    h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 990px) {
    h1 {
        font-size: 47px;
        font-weight: 600;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
} 

@media screen and (max-width: 450px) {
    h1 {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
} 

/* h1 */

.hero p {
    font-family: Libre Franklin;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.21;
    margin-bottom: 106px;
}

@media screen and (max-width: 990px) {
    .hero p {        
        font-size: 24px;
        margin-bottom: 106px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .hero p {        
        font-size: 22px;
        margin-bottom: 80px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .hero p {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 41px;
    }
} 

@media screen and (max-width: 450px) {
    .hero p {
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }
} 

/* hero p */

.{
    text-decoration: underline;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 990px) {
    .link-hero {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .link-hero {
        font-size: 18px;
        text-align: center;
    }
}

/* link-hero  */