.skills {
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 145px;
}

@media screen and (max-width: 1150px) {
    .skills {
        padding-top: 45px;
        padding-bottom: 45px;
    }    
}

@media screen and (max-width: 600px) {
    .skills {
        padding-top: 45px;
        padding-bottom: 45px;
    }    
}

@media screen and (max-width: 450px) {
    .skills {
        padding-top: 25px;
        padding-bottom: 25px;
    }    
}

.skills h2 {
    margin-bottom: 86px;
}

@media screen and (max-width: 1150px) {
    .skills h2 {
        margin-bottom: 40px;
        text-align: center;
    }    
}

@media screen and (max-width: 600px) {
    .skills h2 {
        margin-bottom: 30px;
        text-align: center;
    }    
}

@media screen and (max-width: 450px) {
    .skills h2 {
        margin-bottom: 25px;
        text-align: center;
    }    
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

@media screen and (max-width: 1150px) {
    .skills-content {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        flex-direction: column; 
    }  
}

.skills-content img {
    width: 350px;
    margin-right: 125px;
}

@media screen and (max-width: 1150px) {
    .skills-content img {
        width: 300px;
        margin-right: 0;
        margin-bottom: 50px;
    } 
}

@media screen and (max-width: 600px) {
    .skills-content img {
        width: 280px;        
        margin-bottom: 40px;
    } 
}

@media screen and (max-width: 600px) {
    .skills-content img {
        width: 250px;        
        margin-bottom: 25px;
    } 
}

@media screen and (max-width: 450px) {
    .skills-content img {
        width: 220px;        
        margin-bottom: 25px;
    } 
}

.skills-list {
    flex-grow: 1;    
}

@media screen and (max-width: 1150px) {
    .skills-list {        
        align-self: stretch;
    }
}

.skill-list-row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1150px) {
    .skill-list-row {    
        justify-content: center;
    }
}

.skills-list li:first-of-type {
    margin-bottom: 65px;
}

@media screen and (max-width: 1150px) {
    .skills-list li:first-of-type {
        margin-bottom: 30px;
    }
}


.skills-list li:last-of-type {
    margin-bottom: 0;
}

.skills-list li {
    margin-bottom: 20px;
}

.skills-list-title {
    padding-right: 10px;
    width: 190px;
    font-size: 18px;
}
@media screen and (max-width: 768px) 
{
    .skills-list-title {
        width: 130px;
    }
}

@media screen and (max-width: 600px) 
{
    .skills-list-title {
        width: 120px;
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) 
{
    .skills-list-title {
        width: 100px;
        font-size: 13px;
        line-height: 2.1;
    }
}

.skill-list-value {
    flex-grow: 1;
}

@media screen and (max-width: 1150px) {
    .skill-list-value {
        flex-basis: 56%;
        flex-grow: 0;
        align-self: center;
    }
}

@media screen and (max-width: 600px) 
{
    .text-1 {
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width: 450px) 
{
    .text-1 {
        font-size: 12px;
        font-weight: 400;
        line-height: 2.1;
    }
}


.progress-bar {
    display: block;
    height: 24px;
    background-color: #F5D6AB;
    position: relative;
}

.progress-step {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 95%;
    background-color: #C66C49;
    overflow: hidden;
}