.header-container {
    padding-top: 56px;
    margin-bottom: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {   
    span {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: (30 / 24);
        color: #233348;       
    }
}

.logo-img {
    margin-right: 12px;
}

.nav {
    ul {
        display: flex;
        align-items: center;
    }
    li {
        padding: 5px;
        margin-right: 30px;
        font-size: 1.8rem;
        line-height: (23 / 18);
        color: #1F1534;
        opacity: 0.5;
        &:last-of-type {
            margin-right: 0;
        }
        &:first-of-type {
            font-weight: bold;
            opacity: 1;
        }
    }
}