.container-gift {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.title-gift {
    font-family: Gilroy;
    font-size: 32px;
    line-height: 1.19;    
    text-align: center;    
    color: #000000;
    margin-bottom: 23px;
}

.text-gift {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 135.94%;
    text-align: center;    
    color: #000000;
    margin-bottom: 64px;
}

.gift-text-container {
    padding: 24px;
}

.gift-item h3 {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 1.2;    
    color: #000000;    
    margin-bottom: 74px;
}

.text-gift::before {
    content: '“';
}

.text-gift::after {
    content: '”';
}

.grid-gift {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    margin-bottom: 137px;
    gap: 30px;
}

.gift-item {
    background: #FAFAFA;
}

.gift-item:hover {
    background-color: white;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
    transition: all 0.6s;
}

.gift-item img {
    width: 100%;
}

.gift-text-container a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.36;
    color: #000000;
}

.gift-text-container a::after {
    content: ' ›';
}
